$font-serif: "Eczar", Times, serif;
$font-sans: "Work Sans", Helvetica, sans-serif;
$primary-light: #f2f2f2;
$primary-dark: #282828;
$secondary-dark: #515151;
$color-light: #25b7fc;
$background-light: #f5f5ff;

body,
html {
    font-family: $font-sans;
    background-color: $background-light;
    height: 100%;
    width: 100%;
    margin: 0;
}

.initials {
    font-family: $font-serif;
    font-size: 52px;
    color: $primary-light;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 100;
    margin: 0;
    padding: 0 0 0 20px;
}

.hero-header {
    font-family: $font-serif;
    color: $primary-light;
    font-size: 64px;
    height: 100%;
    min-height: 400px;
    width: 100%;
    background-image: linear-gradient(-90deg, #6a11cb 0%, #2575fc 100%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

    .hero-text {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }

    h1 {
        font-family: $font-serif;
        line-height: 90%;
        width: 100px;
        padding: 36vh 0 0 50px;
        margin: 0;
    }

    h2 {
        font-family: $font-sans;
        font-size: 48px;
        margin: 0 0 0 50px;
    }
}

.projects-section {
    max-width: 1080px;
    margin: 0 auto;
    color: $primary-dark;

    .section-title {
        font-family: $font-serif;
        font-size: 48px;
        margin: 50px;
    }

    .project {
        display: flex;
        max-width: 1080px;
        margin: 60px 0 0;

        h2 {
            margin: 0;
        }

        img {
            height: 100%;
            width: 45%;
            -webkit-box-shadow: 0 10px 38px -10px rgba(0,0,0,0.75);
            -moz-box-shadow: 0 10px 38px -10px rgba(0,0,0,0.75);
            box-shadow: 0 10px 38px -10px rgba(0,0,0,0.75);
            border-radius: 5px;
        }

        .project-description {
            display: flex;
            flex-direction: column;
            padding: 10px 10px 10px 40px;

            p {
                color: $secondary-dark;
                line-height: 150%;
            }

            .tech-used {
                span {
                    display: inline-block;
                    color: $primary-dark;
                    border: solid 3px #2575fc;
                    // background-color: #2575fc;
                    border-radius: 5px;
                    padding: 5px 10px;
                    margin: 10px 10px 0 0;
                }
            }

            .project-links {
                display: flex;
                margin: 40px 0 0;

                .demo-button {
                    background-color: #ffac38;
                    font-size: 18px;
                    border-radius: 5px;
                    border-style: none;
                    width: 100px;
                    padding: 15px;
                }
            }
        }
    }

    .project:last-child {
        margin: 60px 0 80px;
    }
}

@media screen and (max-width: 1000px) {
    .projects-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        .section-title {
            margin: 50px 0 0 0;
        }
        .project {
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin: 60px 0 0 0;
            width: 100%;

            img {
                width: 100%;
                max-width: 400px;
                margin: 0 0 40px;
            }
        }
    }
}
@media screen and (max-width: 415px) {
    .hero-header {
        h1 {
            font-size: 0.7em;
        }

        h2 {
            font-size: 0.5em;
        }
    }
}
