/*@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:wght@400;800&display=swap');*/

/*@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&Inter:wght@400;800&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700;1&Inter:wght@400;800&display=swap');



$primary-dark: #042352;
$primary-light: #FAF8F8;
$link-color: #002686;
$primary-on-dark: #F5F9FF;
/*$link-color: #0032AF;*/
/*$visited-link-color: #8216A8;*/
$secondary-text-color: #2B5546; 
$header-font-family: "Source Serif Pro", Georgia, serif;
/*$header-font-family: "DM Serif Display", Georgia, sans-serif;*/
/*$body-font-family: "Inter", Arial, sans-serif;*/
$body-font-family: "Source Serif Pro", Georgia, serif;
$subheader-font-size: 28px;
$body-font-size: 22px;
$body-font-size-smaller: 18px;
$section-margin-bottom: 80px;
$subsection-margin-bottom: 5px;
$box-shadow: 0px 10px 21px 0px rgba(13,65,89,0.6);

html {
	margin: 0;
	padding: 0;

}

body {
	font-family: $body-font-family;
	margin: 0;
	padding: 0;
	background-image: radial-gradient(81.29% 81.29% at 20.45% 7.85%, #F7E1FF 0%, #EDF4FF 41.67%, #FFEAE6 74.48%, #FFE1E8 100%);
}

#background-about {
	background: radial-gradient(94.45% 94.45% at 20.45% 7.85%, #FDE1FE 0%, #FFEFFF 0.01%, #FFF1F1 31.25%, #FFF8F3 69.79%, #FFE6CF 100%);
}

.callout-box {
	/*background-color: white;*/
	border-radius: 16px;
	outline: 1px solid #aaa;
	padding: 16px 16px 8px 16px;
	h4 {
		margin-top: 0;
		margin-bottom: 8px;
	}
}

.transition {
	transition: all 0.2s ease;
}

button {
	border-style: none;
	cursor: pointer;
	@extend .transition;
	&:hover {
		border-radius: 8px;
	}
}

#navigation-small {
	display: none;
}

@media screen and (max-width: 420px) {
	h1 {
		font-size: 36px !important;
		font-weight: 400;
	}
	h2 {
		font-size: 32px !important;
	}
	h3 {
		font-size: 28px !important;
	}
	h4 {
		font-size: 24px !important;
	}
}

@media screen and (max-width: 400px) {
	body, .page-content, .project-page-content {
		font-size: $body-font-size-smaller !important;
	}
	#navigation {
		display: none;
	}
	#navigation-small {
		display: contents;
	}
	.callout-metrics {
		font-size: 20px !important;
		/*font-style: italic;*/
		margin-bottom: 12px;
	}
	.callout { 
		font-size: 18px !important;
	}
}

.page-content {
	font-family: $body-font-family;
	font-size: $body-font-size;
	color: $primary-dark;
	margin: 160px auto;
	padding: 24px;
	line-height: 1.5;
	max-width: 704px;
}

.max-width-640 {
	@extend .page-content;
	max-width: 640px !important;
	margin-top: 0px;
}

.project-page-content {
	@extend .page-content; 
	max-width: 1200px;
}

.flex-container-align-center { 
	display: flex;
	align-items: center;
}

.flex-container-align-left {
	display: flex;
	align-items: left;
}

.flex-justify-right {
	justify-content: right;
}

.font-sans {
	font-family: $body-font-family;
}

.font-serif {
	font-family: $header-font-family
}

.font-light {
	color: $primary-light;
}

.navigation-span {
	display: flex;
	justify-content: center;
	background: $link-color;
	top: 0; 
	height: 64px;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 2;
	position: fixed;

}

#navigation {
	/*max-width: 904px;*/
	background: $link-color;
	position: fixed;
	top: 0; 
	height: 64px;
	width: 90%;
	max-width: 920px;
	padding: 0;
	margin: 0;
	z-index: 2;
}

.navigation-links {
	margin: 0;
	padding: 8px;
	width: 100%;
	li {
		display: inline-block;
		list-style-type: none;
		text-align: center;
		align-items: middle;
		padding: 0px;
		margin: 8px;
		height: 40px;
		width: 33%;
		max-width: 304px;
		border: 1px solid $primary-light;
		transition: all 0.2s ease;
		min-width: 80px;
	}
	li:hover {
		border-radius: 8px;
	}
	a:link {
		font-size: $body-font-size;
		text-decoration: none;
		color: $primary-light;
		display: inline-block;
		padding: 8px 0px 8px 0px;
		width: 100%;
	}
	a:visited {
		color: $primary-light;
	}
	a:active {
		border-radius: 16px;
	}
}

.navigation-current-page {
	margin: 0;
	padding: 8px;
	width: 100%;
	background-color: $primary-light;
	border-radius: 16px;
	text-decoration: underline;
	width: 100%;
	li {
		display: inline-block;
		list-style-type: none;
		text-align: center;
		align-items: middle;
		padding: 0px;
		margin: 8px;
		height: 40px;
		width: 33%;
		max-width: 304px;
		border: 1px solid $primary-light;
		transition: all 0.2s ease;
		min-width: 80px;
	}
	a:link {
		color: $link-color;
	}
	a:visited {
		color: $link-color;
	}
	a:hover {
		border-radius: 16px !important;
	}
	li:hover {
		border-radius: 16px !important;
	}
}

.navigation-link {
	/*width: 33%;*/
	/*margin: 8px;*/
	/*padding: 16px;*/
}


.project-cards {
	gap: 32px;
}

.project-card {
	position: relative;
	background-color: $primary-light;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 8px 8px 32px 8px;
	padding: 24px;
	@extend .transition;
	img {
		margin-bottom: 8px;
		max-width: 800px;
		width: 100%;
		@extend .transition;
	}
	p {
		padding: 0;
	}
	&:hover {
		border-radius: 8px;
		/*box-shadow: 1px 2px 32px 4px rgba(203,0,199,0.75);
		-webkit-box-shadow: 1px 2px 32px 4px rgba(203,0,199,0.75);
		-moz-box-shadow: 1px 2px 32px 4px rgba(203,0,199,0.75);*/
		box-shadow: 0px 4px 4px rgba(19, 99, 157, 0.25), 0px 2px 1px rgba(43, 204, 255, 0.12), 0px 1px 1px rgba(0, 255, 163, 0.14), 0px 1px 35px rgba(60, 255, 185, 0.64);
		.primary-button, img {
			border-radius: 8px;	
		}
	}

}

.hover-glow {
	box-shadow: 0px 4px 4px rgba(60, 255, 185, 0.25), 0px 2px 1px rgba(60, 255, 185, 0.12), 0px 1px 1px rgba(60, 255, 185, 0.14), 0px 1px 35px rgba(60, 255, 185, 0.64);
}

.project-description {
	margin-bottom: 16px;
}

.primary-button {
	display: block;
	font-family: $body-font-family;
	font-size: $body-font-size;
	text-decoration: none;
	color: $primary-light !important;
	background: radial-gradient(73.26% 104.41% at 50% 50%, #2D4C9A 7.81%, #294A68 45.31%, #042352 100%, #1342B9 100%);
	padding: 16px;
	width: max-content;
	@extend .transition;
	&:hover {
		border-radius: 8px;
	}
}

/*
#navigation {
	background-color: #002686;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		color: $primary-on-dark;
	}
}

.navigation-links {
	a {
		margin-left: 10px;
		font-family: $body-font-family;
		border: solid 1px red;
		padding: 32px;
		width: 33%;
	}
}
*/
#my-work {
	h2, h3 {
		max-width: 400px;
	}
}

.result-bullet {
	margin: -18px 0 0 0;
	padding: 0 0 0 44px;
	color: purple;
}

.image-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 10px;
/*	max-width: 770px;*/
}

.symbol {
	font-size: 36px;
}

.center {
	display: flex;
	justify-content: center;
	width: 100%
}

.spacer {
	margin-top: 16px;
}

.no-margin-top {
	margin-top: 0px;
}

.spacer-right {
	margin-right: 32px;
}

.small-margin-bottom {
	margin-bottom: 8px;
}

.medium-margin-bottom {
	margin-bottom: 16px;
}

.large-margin-bottom {
	margin-bottom: 32px !important;
}

.xlarge-margin-bottom {
	margin-bottom: 64px !important;
}

.xxlarge-margin-bottom {
	margin-bottom: 80px !important;
}

.xlarge-margin-top {
	margin-top: 64px !important;
}

.portrait {
  display: block;
  max-width: 434px;
/*  max-height:100%;*/
  width: 100%;
  height: auto;
  margin-bottom: 18px;
}


.project-page-content {
	@extend .page-content; 
}

.image-grid {
	@extend .page-content; 
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 600px;
	margin-bottom: 0;
}

.image-row {
/*	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;*/
	/*margin-bottom: 160px;*/
}

.image {
	/*max-width: 600px;*/
	max-width: 100%;
	object-fit: contain;
	/*width: 100%;*/
	height: auto;
	margin-right: 0px;
	margin-bottom: 80px;
	/*@extend .drop-shadow;*/
}

.max-width-text {
	/*max-width: 434px;*/
}

.image-container-two {
	@extend .image-container;
	flex-direction: row;
	img {
	    transition:transform 0.2s ease;
	}
	img:hover {
	    -webkit-transform:scale(2.0); /* or some other value */
	    transform:scale(2.0);
	}
}


.test {
	background-color: green;
}

.no-bullet {
	list-style-type: none !important;
	margin: 0;
	padding: 0;
}

.red {
	color: red;
}

.center {
	margin: 0 auto;
}

.margin-bottom {
	margin-bottom: 18px;
}

.flex-column {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0;
	/*gap: 32px;*/
}

.flex-row-max {
	width: 100%;
	/*flex-grow: 1;*/
	display: flex;
	/*flex-direction: row;*/
	/*flex-wrap: wrap;*/
	justify-content: flex-start;

}

.flex-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

footer {
	padding: 90px 0 50px 0;
	text-align: center;
}

.tag {
	color: $primary-dark;
	font-size: $body-font-size-smaller;
	padding: 4px;
	margin-left: 4px;
	margin-top: 0;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	white-space: nowrap;
}

.tag {
	color: $primary-dark;
	font-size: $body-font-size-smaller;
	padding: 4px;
	margin-left: 4px;
	margin-top: 0;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	white-space: nowrap;
}

.border
{
	outline-style: dotted;
}

.tag-group {
	margin-bottom: 20px;
}

.project-section {
	/*position: relative;*/
	line-height: 1.8;
	ul {
		list-style-position: none;
	}
}

.project {
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
	position: relative;
	padding-bottom: 40px;
	line-height: 1.4;
	transition: all 0.2s ease;
	h3 {
		margin-top: 0;
	}
	&:hover {
		color: $link-color;
		img {
			outline: 2px solid $link-color;
		}
		.tag {
			color: $link-color;	
		}
	}
}

.project-in-progress {
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
	position: relative;
	padding-bottom: 40px;
	line-height: 1.4;
	transition: all 0.2s ease;
	h3 {
		margin-top: 0;
	}
}


.project-description {
	margin-right: 30px;
}

.project-image {
	width: 100%;
	min-width: 240px;
	margin-bottom: 14px;
	height: auto;
/*	-webkit-box-shadow: 10px 10px 37px -14px rgba(255,33,33,0.75);
	-moz-box-shadow: 10px 10px 37px -14px rgba(255,33,33,0.75);
	box-shadow: 10px 10px 37px -14px rgba(255,33,33,0.75);*/
/*	-webkit-box-shadow: 10px 13px 37px -10px rgba(255,33,33,0.75);
	-moz-box-shadow: 10px 13px 37px -10px rgba(255,33,33,0.75);
	box-shadow: 10px 13px 37px -10px rgba(255,33,33,0.75);*/
 	@extend .drop-shadow;
}

.project-image-noshadow {
	width: 100%;
	min-width: 240px;
	margin-bottom: 14px;
	height: auto;
}


.drop-shadow {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.project-image-no-shadow {
	width: 100%;
	min-width: 240px;
}

.project-image-small {
	max-width: 340px;
	min-width: 340px;
	max-height: 255px;
	width: auto;
	height: auto;
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

.project-image-two {
	min-width: 67.5%;
	margin: 5px;
	height: auto;
}

.image-caption {
	margin: 14px auto 14px auto;
	max-width: 700px;
	text-align: center;
	font-style: italic;
}


#logo {
	width: 32px;
	height: 32px;
	padding: 16px;
}

#logo-and-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	p {
		width: 100px;
		margin: 0;
	}
}

a {
	color: $link-color;
	transition: all 0.2s ease;
	text-decoration: none;
	&:visited {
		color: $link-color;
	}
	&:hover {
		/*font-style: italic;*/
	}
}

.margin-x-zero {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}



h1, h2, h3{
	font-family: $header-font-family;
	/*width: 700px;*/
	line-height: 1.45;
	line-height: 1.2;
}



h1 {
	margin-bottom: 8px;
	line-height: 1.2;
	margin: 0;
}

h2 {
	font-size: 48px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

h3 {
	font-size: 36px;
	margin-top: 5px;
	margin-bottom: 8px;
}

h4 {
	line-height: 1.45;
	font-weight: bold;
	font-size: 32px;
	margin-top: 8px;
	margin-bottom: 0px;
}

p {
	margin-top: 0;
	margin-bottom: 8px;
}

.bullet-list {
	margin-top: 0;
}


#header-section {
	margin-bottom: $section-margin-bottom;
	h1 {
		font-size: 64px;
	}
	p {
		margin-bottom: 8px;
	}
	.primary-button {
		margin-top: 16px;
	}
}

.subheader {
	font-size: 24px;
}

.overview {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*background-color: yellow;*/
	/*background: rgb(249,255,250);
	background: linear-gradient(180deg, rgba(249,255,250,1) 35%, rgba(34,255,175,0) 100%);*/
	margin: 0 auto;
	/*padding: 0 10px 0 10px;*/
	padding-bottom: 20px;
	width: 100%;
}

.overview-pair {
	display: flex;
	flex-direction: row;
	text-align: left;
}

.overview-text-left {
	padding: 10px 20px 0px 0px;
	min-width: 240px;
	font-weight: bold;
}

.overview-text-right {
	padding: 10px 0px 5px 10px;
	/*padding: 10px 20px 5px 10px;*/
	min-width: 280px;
}


.callout {
	font-size: $subheader-font-size;
	font-style: italic;
	margin-bottom: 12px;
}

.attention-callout {
	background-color: #F7E1FF;
	border-radius: 16px;
	outline: thick double #786CFF;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.callout-metrics {
	font-size: $subheader-font-size;
	/*font-style: italic;*/
	margin-bottom: 12px;
}

.indent {
	margin-left: 18px;
}

.remove-indent {
	padding-left: 16px;
}

.top-margin {
	margin: $section-margin-bottom 0;
}

a {
	font-weight: bold;
}


.section {
	margin-bottom: $section-margin-bottom;
	min-width: 100%;
/*	margin: 0 auto;
	display: flex;
	flex-direction: column;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
}

.section-text {
	max-width: 700px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.section-link-footer {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top: 56px;
	p {
		margin: 0;
	}
	a {
		max-width: 100px;
	}
}

.footer-link-right {
	text-align: right;
	/*max-width: 320px;*/
}

.footer-link-left {
	text-align: left;
	/*max-width: 320px;*/
}

.link-span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}