@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:wght@700&family=Archivo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*$primary-text-color: #06140F;
$primary-background-color: #D8EEE1;
$link-color: #1144F5;
$visited-link-color: #8216A8;*/
/*$visited-link-color: #8216A8;*/
#my-work h2, #my-work h3 {
  max-width: 400px; }

.result-bullet {
  margin: -18px 0 0 0;
  padding: 0 0 0 44px;
  color: purple; }

.image-container, .image-container-two {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
  /*	max-width: 770px;*/ }

.center {
  display: flex;
  justify-content: center;
  width: 100%; }

.spacer {
  margin-top: 18px; }

.spacer-right {
  margin-right: 32px; }

.portrait {
  display: block;
  max-width: 600px;
  max-height: 600px;
  width: auto;
  height: auto;
  margin-bottom: 18px; }

.image-container-two {
  flex-direction: row; }
  .image-container-two img {
    transition: transform 0.2s ease; }
  .image-container-two img:hover {
    -webkit-transform: scale(2);
    /* or some other value */
    transform: scale(2); }

.no-bullet {
  list-style-type: none !important;
  margin: 0;
  padding: 0; }

.red {
  color: red; }

.center {
  margin: 0 auto; }

.margin-bottom {
  margin-bottom: 18px; }

.flex-column {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.flex-row-max {
  width: 900px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flex-row {
  width: 100%;
  flex-grow: 1;
  /*flex-wrap: wrap;*/
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

footer {
  padding: 90px 0 50px 0;
  text-align: center; }

.tag {
  background-color: #060638;
  color: #BBFFE7;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap; }

.tag-group {
  margin-bottom: 20px; }

.project-section {
  /*position: relative;*/
  line-height: 1.8; }
  .project-section ul {
    list-style-position: none; }

.project {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
  padding-bottom: 40px;
  line-height: 1.4;
  transition: all 0.2s ease; }
  .project h3 {
    margin-top: 0; }
  .project:hover {
    color: #1144F5; }
    .project:hover img {
      outline: 2px solid #1144F5; }

.project-description {
  margin-right: 30px; }

.project-image {
  width: 100%;
  min-width: 240px;
  height: auto;
  /*	-webkit-box-shadow: 10px 10px 37px -14px rgba(255,33,33,0.75);
  	-moz-box-shadow: 10px 10px 37px -14px rgba(255,33,33,0.75);
  	box-shadow: 10px 10px 37px -14px rgba(255,33,33,0.75);*/
  -webkit-box-shadow: 10px 13px 37px -10px rgba(255, 33, 33, 0.75);
  -moz-box-shadow: 10px 13px 37px -10px rgba(255, 33, 33, 0.75);
  box-shadow: 10px 13px 37px -10px rgba(255, 33, 33, 0.75); }

.project-image-no-shadow {
  width: 100%;
  min-width: 240px; }

.project-image-small {
  max-width: 340px;
  min-width: 340px;
  max-height: 255px;
  width: auto;
  height: auto;
  -webkit-box-shadow: 10px 13px 37px -10px rgba(255, 33, 33, 0.75);
  -moz-box-shadow: 10px 13px 37px -10px rgba(255, 33, 33, 0.75);
  box-shadow: 10px 13px 37px -10px rgba(255, 33, 33, 0.75); }

.project-image-two {
  min-width: 67.5%;
  margin: 5px;
  height: auto; }

.image-caption {
  margin: 10px auto 10px auto;
  max-width: 700px;
  text-align: center;
  font-style: italic; }

#navigation {
  display: flex;
  margin: 45px 0 45px 0;
  justify-content: space-between;
  /*	outline: 1px solid red;*/
  align-items: center; }

#logo {
  width: 50px;
  height: 36px;
  margin-right: 10px; }

#logo-and-name {
  margin: 0;
  padding: 0; }
  #logo-and-name a {
    margin: 0;
    height: 36px; }

a {
  color: #1144F5;
  transition: all 0.2s ease; }
  a:visited {
    color: #1144F5; }
  a:hover {
    /*font-style: italic;*/
    /*		color: red;*/ }

.margin-x-zero {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0; }

.navigation-links a {
  margin-left: 10px; }

h1, h2, h3 {
  font-family: "Archivo Black", Arial, sans-serif;
  /*width: 700px;*/ }

h1 {
  margin-bottom: 10px; }

h2 {
  margin-bottom: 8px; }

h3 {
  margin-top: 5px;
  margin-bottom: 18px; }

h4 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0px; }

p {
  margin-top: 0; }

.bullet-list {
  margin-top: 0; }

#header-section {
  margin-bottom: 60px; }
  #header-section h1 {
    font-size: 40px; }

.subheader {
  font-size: 26px; }

.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: yellow;*/
  /*background: rgb(249,255,250);
  background: linear-gradient(180deg, rgba(249,255,250,1) 35%, rgba(34,255,175,0) 100%);*/
  margin: 0 auto;
  /*padding: 0 10px 0 10px;*/
  padding-bottom: 20px;
  width: 100%; }

.overview-pair {
  display: flex;
  flex-direction: row;
  text-align: left; }

.overview-text-left {
  padding: 10px 20px 0px 0px;
  min-width: 220px;
  font-weight: bold; }

.overview-text-right {
  padding: 10px 20px 5px 10px; }

.callout {
  font-size: 26px;
  font-style: italic;
  margin-bottom: 12px; }

.callout-metrics {
  font-size: 26px;
  font-style: italic;
  margin-bottom: 12px; }

.indent {
  margin-left: 18px; }

.remove-indent {
  padding-left: 16px; }

.top-margin {
  margin: 60px 0; }

a {
  font-weight: bold; }

body {
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-size: 22px;
  /*background-image: linear-gradient(to bottom right, rgb(237, 255, 250), rgb(239, 253, 249), rgb(240, 250, 247), rgb(242, 248, 246), rgb(244, 246, 245), rgb(245, 243, 244), rgb(247, 241, 242), rgb(248, 238, 241), rgb(250, 236, 240), rgb(252, 234, 239), rgb(253, 231, 237), rgb(255, 229, 236));*/
  background-image: linear-gradient(#BBFFE7, #58d0ff, #22FFAF);
  color: #060638;
  padding: 18px;
  margin: 0 auto;
  line-height: 1.9;
  max-width: 900px; }

.section {
  margin-bottom: 60px;
  min-width: 100%;
  /*	margin: 0 auto;
  	display: flex;
  	flex-direction: column;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left; }

.section-text {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.section-link-footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 18px; }
  .section-link-footer p {
    margin: 0; }

.footer-link-right {
  text-align: right; }

.link-span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

/*# sourceMappingURL=styles.css.map */
